altair 
astor 
asttokens 
attrs 
base58 
blinker
boto3 
botocore 
Brotli 
cachetools 
certifi 
cffi 
charset-normalizer
click==7.1.2
colorama
comm
debugpy
decorator
exceptiongroup
executing
gitdb
GitPython
h2
hpack==4.0.0
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
jedi
Jinja2
jmespath
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
MarkupSafe
matplotlib-inline
millify
narwhals
nest_asyncio
numpy
packaging
pandas
parso
pickleshare
pillow
pkgutil_resolve_name
platformdirs
prompt_toolkit
protobuf==4.25.3
psutil
pure_eval
pyarrow==18.0.0
pycparser
pydeck==0.2.1
Pygments
Pympler
PySocks
pytest
python-dateutil
pytz
pywin32==307
PyYAML
pyzmq
referencing
requests
rpds-py
s3transfer
semver
setuptools==75.3.0
six
smmap
stack-data
streamlit==1.39.0
toml
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
wheel==0.44.0
widgetsnbextension
win_inet_pton
zipp
zstandard==0.23.0
